.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  padding: 10px 14px;
  background: coral;


}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.mx-10 {
  margin: 0 10px;
}
.align {
  align-items: center;
}